<style type="text/css">
    body {
        font-family: "Helvetica Neue",Helvetica;
    }
    .container{
        margin:2%;
        padding:5%;
    }
    .textlabel{
        font-size:25px;
    }
    .para{
        font-size:20px;
        margin:1%;
    }
    .logo{
        font-size:32px;
        margin:2%;
        color:#006192;
        font-family: "Helvetica";
        font-variant: small-caps ;
    }
    button{
        background-color:#006192;
        color:white;
        outline:none;
        border:none;
        border-radius :10px;
        font-size:20px;
        padding:5px;
        margin:10px;
    }
    a{
        color:white;
    }
    .regform{
        margin-top:1%;
        margin-left:20%;
        padding:2%;
    }
    input{
        margin-top:2%;
        font-size:15px;
        font-variant: small-caps;
        outline:none;
        border:none;
        border-bottom:1px solid black;
        
    }
    .submitBtn{
        border-radius:5px;
        width:70%;
        font-size:16px;
    }
    .switch{
        margin-left:20%;
        padding:2%;
    }
</style>
<div class="container">
<div class="logo">
    <center>{{confirmation_msg}}</center>
</div>
<center><button class="submitBtn" onclick="history.back()">Got It</button></center>
</div>